<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

  <header>
    <div class="anchor">
      <h1>
        <a title="Requesc" id="anchor_title" href="/">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg>Requesc</a>
      </h1>
    </div>
  </header>

<body>


	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/logged.jpg}" class="img-responsive center-block" width="400" height="400" alt="logged" /> 
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
		      <h2>FORUM</h2>

      <div style="overflow-x:auto;">
        <table class="forum-table">
          <thead class="forum-table-head">
            <tr>
              <th class="forum-table-head-cell">Forum Title</th>
              <th class="forum-table-head-cell">Last post data</th>
              <th class="forum-table-head-cell">Description</th>
              <th class="forum-table-head-cell">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr class="forum-table-topic">
              <td class="forum-table-topic-cell">Forum Title</td>
              <td class="forum-table-topic-cell">lastPostDate</td>
              <td class="forum-table-topic-cell">Description</td>
              <td class="forum-table-topic-cell">
                <a href="#" class="topic-mod">Modify</a>
                <a href="#" class="topic-mod">Delete</a>
              </td>
            </tr>

            <tr class="forum-table-topic">
              <td class="forum-table-topic-cell">Forum Title</td>
              <td class="forum-table-topic-cell">lastPostDate</td>
              <td class="forum-table-topic-cell">Description</td>
              <td class="forum-table-topic-cell">
                <a href="#" class="topic-mod">Modify</a>
                <a href="#" class="topic-mod">Delete</a>
              </td>
            </tr>
            <tr class="forum-table-topic">
              <td class="forum-table-topic-cell">Forum Title</td>
              <td class="forum-table-topic-cell">lastPostDate</td>
              <td class="forum-table-topic-cell">Description</td>
              <td class="forum-table-topic-cell">
                <a href="#" class="topic-mod">Modify</a>
                <a href="#" class="topic-mod">Delete</a>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="page-navigation">
        <div class="page-item-left">
          <a class="page-link" href="#">Previous</a>
        </div>
        <div class="page-item-right">
          <a class="page-link" href="#">Next</a>
        </div>
      </div>
      <br>
      <h4 class="text-center"><a href="#">New query</a></h4>
    </div>
<footer>
    <span style='padding-left:10px;'> &copy; Zoltan T.</span>
</footer>
		
	</div>
</body>
</html>