@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  font-family: 'Raleway', sans-serif;
}

body {
	background-color: #BFC7CE;
}

.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
}

.anchor {
  position: relative;
  background-color: #052E4E;
  height: 1%;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

h1 #anchor_title {
  color: #4C6E8B;
  padding: 0 8px;
}

h1 #anchor_title:hover {
  color: #fff;
}
h2 {
  text-align: center;
  color: #052E4E;
}

.forum-table {
  border-right: 1px solid #BFC7CE;
  width: 100%;
}

.forum-table-head,
.forum-table-head-cell {
  background-color: #174970;
  color: #fff;
  height: 50px;
  text-align: center;
  padding: 10px;
}

.forum-table-topic-cell {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.page-navigation .page-item-left .page-item-right {
  position: absolute;
}

.page-item-left {
  float: left;
  padding: 10px;
}

.page-item-right {
  float: right;
  padding: 10px;
}
