@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  font-family: 'Raleway', sans-serif;
}

body {
	background-color: #BFC7CE;
}

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.anchor {
  position: relative;
  background-color: #052E4E;
  height: 1%;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

h1 #anchor_title {
  color: #4C6E8B;
  padding: 0 8px;
}

h1 #anchor_title:hover {
  color: #fff;
}