@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  font-family: 'Raleway', sans-serif;
}

body {
	background-color: #BFC7CE;
}

.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
}

.anchor {
  position: relative;
  background-color: #052E4E;
  height: 1%;
  top: 0;
  overflow: hidden;
  z-index: 2;
}

h1 #anchor_title {
  color: #4C6E8B;
  padding: 0 8px;
}

h1 #anchor_title:hover {
  color: #fff;
}